In [1]:
import requests
import matplotlib.pyplot as plt
import json
import pandas as pd

In [2]:
def url_to_df(url):
    endpoint = url
    response = requests.get(endpoint)
    response
    if response.status_code == 200:
        F1 = response.json()
        F1_df = pd.DataFrame(F1)
    else: print(response.status_code)
    return F1_df

In [3]:
def agg_to_df(aggdf):
    x = aggdf.session_key.drop_duplicates().reset_index(drop = True)
    x = sessions.loc[sessions.session_key.isin(x)].reset_index(drop=True)
    return x

In [4]:
sessions = pd.read_csv('../data/session_api.csv')
weather = pd.read_csv('../data/weather_api.csv')
drivers = pd.read_csv('../data/drivers_api.csv')
lando_laps = pd.read_csv('../data/laps_lando_api.csv')
albon_laps = pd.read_csv('../data/laps_albon_api.csv')
leclerc_laps = pd.read_csv('../data/laps_leclerc_api.csv')

In [5]:
lando_laps = lando_laps.drop(columns = 'Unnamed: 0')
albon_laps  = albon_laps.drop(columns = 'Unnamed: 0')
leclerc_laps = leclerc_laps.drop(columns = 'Unnamed: 0')

In [6]:
sessions = sessions.drop(columns = 'Unnamed: 0')

In [7]:
weather = weather.drop(columns = 'Unnamed: 0')

In [8]:
drivers = drivers.drop(columns = ['Unnamed: 0'])
driver_session = drivers.merge(sessions, on = ['session_key'],how = 'inner')

In [9]:
driver_session

,session_key,driver_number,full_name,team_name,location,session_name,year
0,7953,4,Lando NORRIS,McLaren,Sakhir,Race,2023
1,7953,16,Charles LECLERC,Ferrari,Sakhir,Race,2023
2,7953,23,Alexander ALBON,Williams,Sakhir,Race,2023
3,7779,4,Lando NORRIS,McLaren,Jeddah,Race,2023
4,7779,16,Charles LECLERC,Ferrari,Jeddah,Race,2023
...,...,...,...,...,...,...,...
133,9655,16,Charles LECLERC,Ferrari,Lusail,Race,2024
134,9655,23,Alexander ALBON,Williams,Lusail,Race,2024
135,9662,4,Lando NORRIS,McLaren,Yas Island,Race,2024
136,9662,16,Charles LECLERC,Ferrari,Yas Island,Race,2024
137,9662,23,Alexander ALBON,Williams,Yas Island,Race,2024

In [10]:
lap_list = [lando_laps,albon_laps,leclerc_laps]
all_laps = pd.concat(lap_list)
all_laps = all_laps.merge(driver_session, on = ['session_key','driver_number'], how = 'inner')
all_laps = all_laps.merge(weather, on = ['session_key','date_start'], how = 'inner')

In [78]:
r = all_laps[all_laps.session_key == 9558]
r = r[r.driver_number == 4]
r

,session_key,date_start,driver_number,i1_speed,i2_speed,st_speed,lap_duration,duration_sector_1,duration_sector_2,duration_sector_3,...,session_name,year,rainfall,humidity,pressure,air_temperature,wind_direction,meeting_key,track_temperature,wind_speed
1911,9558,2024-07-07 14:04,4,317.0,259.0,320.0,92.188,29.225,37.918,25.045,...,Race,2024,0,63.0,992.0,61.16,215,1240,91.40,3.5792
1912,9558,2024-07-07 14:06,4,304.0,260.0,312.0,91.991,29.279,37.536,25.176,...,Race,2024,0,62.0,991.9,61.34,235,1240,91.40,4.4740
1913,9558,2024-07-07 14:07,4,301.0,260.0,309.0,91.976,29.320,37.452,25.204,...,Race,2024,0,61.0,992.0,61.34,237,1240,75.74,4.2503
1914,9558,2024-07-07 14:09,4,307.0,261.0,312.0,91.716,29.363,37.239,25.114,...,Race,2024,0,60.0,992.0,61.16,243,1240,75.20,4.9214
1915,9558,2024-07-07 14:10,4,309.0,260.0,313.0,91.896,29.368,37.443,25.085,...,Race,2024,0,60.0,991.9,61.34,209,1240,75.56,5.3688
1916,9558,2024-07-07 14:12,4,295.0,256.0,296.0,92.071,29.557,37.223,25.291,...,Race,2024,0,61.0,992.0,61.34,251,1240,77.72,4.6977
1917,9558,2024-07-07 14:14,4,298.0,258.0,298.0,92.018,29.566,37.160,25.292,...,Race,2024,0,60.0,992.0,61.52,256,1240,78.80,3.5792
1918,9558,2024-07-07 14:15,4,NaN,258.0,298.0,91.976,29.558,37.179,25.239,...,Race,2024,0,61.0,992.0,61.70,320,1240,78.98,4.4740
1919,9558,2024-07-07 14:17,4,296.0,258.0,300.0,91.830,29.516,37.134,25.180,...,Race,2024,0,61.0,992.0,62.24,208,1240,78.26,3.3555
1920,9558,2024-07-07 14:18,4,300.0,259.0,299.0,91.748,29.417,37.150,25.181,...,Race,2024,0,62.0,991.9,62.24,231,1240,78.08,3.8029
1921,9558,2024-07-07 14:20,4,298.0,259.0,300.0,91.718,29.501,37.046,25.171,...,Race,2024,0,59.0,991.9,62.06,234,1240,77.54,4.6977
1922,9558,2024-07-07 14:21,4,NaN,262.0,315.0,91.472,29.496,36.950,25.026,...,Race,2024,0,61.0,991.8,62.06,205,1240,77.36,4.6977
1923,9558,2024-07-07 14:23,4,312.0,261.0,318.0,91.407,29.300,37.048,25.059,...,Race,2024,0,59.0,991.9,61.88,211,1240,76.64,4.6977
1924,9558,2024-07-07 14:24,4,313.0,264.0,326.0,90.946,29.380,36.994,24.572,...,Race,2024,0,60.0,991.9,61.70,243,1240,76.28,2.6844
1925,9558,2024-07-07 14:26,4,293.0,260.0,296.0,91.690,29.378,36.807,25.505,...,Race,2024,0,59.0,991.9,61.70,242,1240,75.92,3.1318
1926,9558,2024-07-07 14:27,4,291.0,257.0,300.0,94.304,29.606,37.055,27.643,...,Race,2024,0,60.0,991.9,61.70,266,1240,75.74,3.1318
1927,9558,2024-07-07 14:29,4,290.0,257.0,302.0,94.125,29.647,37.024,27.454,...,Race,2024,0,61.0,992.1,61.70,276,1240,75.74,3.3555
1928,9558,2024-07-07 14:30,4,292.0,236.0,301.0,101.436,32.740,40.852,27.844,...,Race,2024,1,60.0,992.1,61.88,59,1240,75.02,3.5792
1929,9558,2024-07-07 14:32,4,285.0,248.0,297.0,97.704,32.090,39.513,26.101,...,Race,2024,1,64.0,992.1,61.16,335,1240,73.22,3.3555
1930,9558,2024-07-07 14:34,4,289.0,257.0,301.0,91.513,29.432,37.163,24.918,...,Race,2024,1,67.0,992.1,60.62,299,1240,72.14,3.5792
1931,9558,2024-07-07 14:35,4,288.0,257.0,299.0,90.860,29.314,36.786,24.760,...,Race,2024,1,69.0,992.2,60.08,229,1240,71.78,3.5792
1932,9558,2024-07-07 14:37,4,291.0,254.0,302.0,91.176,29.451,36.841,24.884,...,Race,2024,1,68.0,992.1,59.36,266,1240,71.60,1.5659
1933,9558,2024-07-07 14:38,4,289.0,259.0,298.0,91.629,29.489,36.747,25.393,...,Race,2024,1,69.0,992.2,59.36,222,1240,71.60,2.6844
1934,9558,2024-07-07 14:40,4,291.0,257.0,298.0,94.307,29.696,38.185,26.426,...,Race,2024,1,68.0,992.2,59.18,251,1240,71.60,1.7896
1935,9558,2024-07-07 14:41,4,290.0,255.0,301.0,101.515,30.452,42.458,28.605,...,Race,2024,1,69.0,992.2,59.18,267,1240,71.60,1.7896
1936,9558,2024-07-07 14:43,4,289.0,246.0,302.0,104.806,32.069,45.057,27.680,...,Race,2024,1,68.0,992.2,59.18,116,1240,70.70,2.0133
1937,9558,2024-07-07 14:45,4,286.0,250.0,290.0,120.915,52.053,40.758,28.104,...,Race,2024,1,68.0,992.3,59.18,267,1240,70.16,1.3422
1938,9558,2024-07-07 14:47,4,289.0,248.0,297.0,100.266,31.594,40.610,28.062,...,Race,2024,1,69.0,992.4,59.00,236,1240,69.80,2.0133
1939,9558,2024-07-07 14:49,4,290.0,247.0,297.0,100.717,31.980,40.583,28.154,...,Race,2024,1,70.0,992.5,58.82,240,1240,69.26,2.0133
1940,9558,2024-07-07 14:50,4,NaN,244.0,296.0,101.313,31.855,40.682,28.776,...,Race,2024,1,72.0,992.4,58.82,224,1240,69.26,2.2370
1941,9558,2024-07-07 14:52,4,293.0,244.0,297.0,102.216,32.262,41.072,28.882,...,Race,2024,1,73.0,992.5,58.46,240,1240,69.26,3.1318
1942,9558,2024-07-07 14:54,4,NaN,242.0,297.0,102.607,32.409,41.234,28.964,...,Race,2024,1,73.0,992.5,58.10,235,1240,69.26,3.5792
1943,9558,2024-07-07 14:55,4,292.0,244.0,297.0,103.078,32.496,41.716,28.866,...,Race,2024,1,74.0,992.5,58.10,224,1240,69.26,3.1318
1944,9558,2024-07-07 14:57,4,295.0,244.0,299.0,102.935,32.639,41.786,28.510,...,Race,2024,1,76.0,992.6,58.28,221,1240,70.16,3.5792
1945,9558,2024-07-07 14:59,4,296.0,247.0,299.0,102.340,32.530,42.138,27.672,...,Race,2024,1,75.0,992.6,58.10,253,1240,70.16,3.1318
1946,9558,2024-07-07 15:00,4,292.0,246.0,299.0,99.786,31.936,40.846,27.004,...,Race,2024,1,75.0,992.5,58.28,240,1240,70.16,3.8029
1947,9558,2024-07-07 15:02,4,294.0,249.0,300.0,97.999,31.328,39.844,26.827,...,Race,2024,1,78.0,992.5,58.28,201,1240,72.50,2.9081
1948,9558,2024-07-07 15:04,4,292.0,249.0,304.0,96.746,31.241,39.866,25.639,...,Race,2024,1,76.0,992.6,58.28,237,1240,75.56,4.2503
1949,9558,2024-07-07 15:05,4,293.0,260.0,294.0,114.840,52.596,37.147,25.097,...,Race,2024,0,78.0,992.5,58.28,245,1240,76.28,3.1318
1950,9558,2024-07-07 15:07,4,295.0,261.0,302.0,89.733,28.786,36.307,24.640,...,Race,2024,0,74.0,992.6,59.18,196,1240,75.92,1.7896
1951,9558,2024-07-07 15:09,4,290.0,260.0,296.0,90.006,28.934,36.462,24.610,...,Race,2024,0,76.0,992.5,59.54,216,1240,75.56,2.4607
1952,9558,2024-07-07 15:10,4,295.0,262.0,301.0,89.262,28.826,35.997,24.439,...,Race,2024,0,75.0,992.4,59.54,233,1240,76.46,1.7896
1953,9558,2024-07-07 15:12,4,293.0,263.0,300.0,89.752,29.102,36.086,24.564,...,Race,2024,0,75.0,992.5,59.54,240,1240,76.82,3.5792
1954,9558,2024-07-07 15:13,4,297.0,263.0,304.0,89.635,29.062,35.883,24.690,...,Race,2024,1,72.0,992.5,59.72,215,1240,76.10,4.4740
1955,9558,2024-07-07 15:15,4,295.0,262.0,302.0,89.960,29.406,36.099,24.455,...,Race,2024,0,73.0,992.5,59.90,243,1240,77.00,4.4740
1956,9558,2024-07-07 15:16,4,NaN,262.0,301.0,89.838,29.118,36.187,24.533,...,Race,2024,0,71.0,992.6,59.90,246,1240,77.00,4.4740
1957,9558,2024-07-07 15:18,4,NaN,262.0,300.0,90.556,29.274,36.196,25.086,...,Race,2024,0,71.0,992.5,60.08,238,1240,76.82,2.4607
1958,9558,2024-07-07 15:19,4,313.0,259.0,302.0,90.515,29.176,36.639,24.700,...,Race,2024,0,71.0,992.5,60.26,232,1240,77.36,2.6844
1959,9558,2024-07-07 15:21,4,299.0,262.0,300.0,90.544,29.399,36.445,24.700,...,Race,2024,0,69.0,992.4,60.44,222,1240,77.36,4.0266
1960,9558,2024-07-07 15:22,4,296.0,261.0,301.0,90.769,29.324,36.576,24.869,...,Race,2024,0,69.0,992.5,60.44,219,1240,77.72,3.8029
1961,9558,2024-07-07 15:24,4,298.0,262.0,304.0,90.913,29.626,36.650,24.637,...,Race,2024,0,68.0,992.4,60.62,258,1240,77.54,2.6844

In [12]:
track_temp_diff = all_laps.groupby(['session_key'])['track_temperature'].agg(lambda x: x.max() - x.min()).reset_index()
track_temp_diff.head()

   session_key  track_temperature
0         7779               3.96
1         7787              18.18
2         7953               4.50
3         9070              14.76
4         9078              10.26

In [13]:
top_track_temp_diff = track_temp_diff.sort_values('track_temperature', ascending = False).head()
top_track_temp_diff

    session_key  track_temperature
5          9094              28.62
19         9205              24.66
32         9558              22.14
16         9181              20.34
12         9149              19.26

In [14]:
track_temp_list = top_track_temp_diff.session_key.to_list()
tt_diff = weather[weather.session_key.isin(track_temp_list)]
tt_diff

,date_start,session_key,rainfall,humidity,pressure,air_temperature,wind_direction,meeting_key,track_temperature,wind_speed
846,2023-05-28 12:01,9094,0,39.0,1013.7,78.44,149,1210,117.32,2.2370
847,2023-05-28 12:02,9094,0,40.0,1013.7,78.44,158,1210,118.76,2.2370
848,2023-05-28 12:03,9094,0,41.0,1013.7,78.44,137,1210,118.76,2.2370
849,2023-05-28 12:04,9094,0,41.0,1013.7,78.44,0,1210,118.94,1.7896
850,2023-05-28 12:05,9094,0,41.0,1013.7,78.44,0,1210,118.94,1.1185
...,...,...,...,...,...,...,...,...,...,...
5457,2024-07-07 15:27,9558,0,69.0,992.4,60.44,224,1240,76.64,4.6977
5458,2024-07-07 15:28,9558,0,70.0,992.4,60.62,261,1240,77.00,3.8029
5459,2024-07-07 15:29,9558,0,71.0,992.4,60.62,222,1240,78.98,2.2370
5460,2024-07-07 15:30,9558,0,69.0,992.5,60.80,230,1240,79.52,3.5792
5461,2024-07-07 15:31,9558,0,68.0,992.4,60.80,291,1240,79.16,3.5792

In [15]:
lando_tt = lando_laps.merge(tt_diff, on = ['date_start','session_key'], how = 'inner')
lando_tt.head()

,session_key,date_start,driver_number,i1_speed,i2_speed,st_speed,lap_duration,duration_sector_1,duration_sector_2,duration_sector_3,lap_number,rainfall,humidity,pressure,air_temperature,wind_direction,meeting_key,track_temperature,wind_speed
0,9094,2023-05-28 13:04,4,175.0,171.0,277.0,81.610,21.769,38.014,21.827,2,0,44.0,1013.4,77.36,48,1210,109.58,2.2370
1,9094,2023-05-28 13:05,4,185.0,179.0,281.0,80.396,21.368,37.710,21.318,3,0,45.0,1013.5,77.36,66,1210,109.04,1.7896
2,9094,2023-05-28 13:07,4,186.0,181.0,280.0,80.209,21.263,37.700,21.246,4,0,45.0,1013.5,77.72,115,1210,109.04,2.2370
3,9094,2023-05-28 13:08,4,NaN,183.0,281.0,79.502,21.144,37.306,21.052,5,0,44.0,1013.5,77.90,161,1210,108.32,2.9081
4,9094,2023-05-28 13:09,4,190.0,183.0,280.0,79.045,21.042,37.149,20.854,6,0,44.0,1013.5,77.72,132,1210,108.32,2.2370

In [16]:
albon_tt = albon_laps.merge(tt_diff, on = ['date_start','session_key'], how = 'inner')
albon_tt.head()

,session_key,date_start,driver_number,i1_speed,i2_speed,st_speed,lap_duration,duration_sector_1,duration_sector_2,duration_sector_3,lap_number,rainfall,humidity,pressure,air_temperature,wind_direction,meeting_key,track_temperature,wind_speed
0,9094,2023-05-28 13:04,23,172.0,178.0,277.0,80.977,21.337,37.926,21.714,2,0,44.0,1013.4,77.36,48,1210,109.58,2.2370
1,9094,2023-05-28 13:05,23,168.0,181.0,284.0,80.703,21.613,37.666,21.424,3,0,45.0,1013.5,77.36,66,1210,109.04,1.7896
2,9094,2023-05-28 13:07,23,175.0,181.0,284.0,80.276,21.365,37.635,21.276,4,0,45.0,1013.5,77.72,115,1210,109.04,2.2370
3,9094,2023-05-28 13:08,23,NaN,184.0,285.0,79.967,21.211,37.654,21.102,5,0,44.0,1013.5,77.90,161,1210,108.32,2.9081
4,9094,2023-05-28 13:10,23,187.0,184.0,284.0,79.165,20.985,37.175,21.005,6,0,44.0,1013.5,77.72,76,1210,106.88,1.7896

In [17]:
leclerc_tt = leclerc_laps.merge(tt_diff, on = ['date_start','session_key'], how = 'inner')
leclerc_tt.head()

,session_key,date_start,driver_number,i1_speed,i2_speed,st_speed,lap_duration,duration_sector_1,duration_sector_2,duration_sector_3,lap_number,rainfall,humidity,pressure,air_temperature,wind_direction,meeting_key,track_temperature,wind_speed
0,9094,2023-05-28 13:04,16,192.0,182.0,279.0,80.549,21.352,37.692,21.505,2,0,44.0,1013.4,77.36,48,1210,109.58,2.2370
1,9094,2023-05-28 13:05,16,195.0,182.0,280.0,80.021,21.051,37.547,21.423,3,0,45.0,1013.5,77.36,66,1210,109.04,1.7896
2,9094,2023-05-28 13:07,16,196.0,184.0,279.0,79.468,21.023,37.375,21.070,4,0,45.0,1013.5,77.72,115,1210,109.04,2.2370
3,9094,2023-05-28 13:08,16,198.0,185.0,280.0,78.837,20.803,37.198,20.836,5,0,44.0,1013.5,77.90,161,1210,108.32,2.9081
4,9094,2023-05-28 13:09,16,194.0,184.0,280.0,78.829,20.697,37.190,20.942,6,0,44.0,1013.5,77.72,132,1210,108.32,2.2370

In [18]:
ttframes = [leclerc_tt,albon_tt,lando_tt]
tt_comb = pd.concat(ttframes)
tt_comb

,session_key,date_start,driver_number,i1_speed,i2_speed,st_speed,lap_duration,duration_sector_1,duration_sector_2,duration_sector_3,lap_number,rainfall,humidity,pressure,air_temperature,wind_direction,meeting_key,track_temperature,wind_speed
0,9094,2023-05-28 13:04,16,192.0,182.0,279.0,80.549,21.352,37.692,21.505,2,0,44.0,1013.4,77.36,48,1210,109.58,2.2370
1,9094,2023-05-28 13:05,16,195.0,182.0,280.0,80.021,21.051,37.547,21.423,3,0,45.0,1013.5,77.36,66,1210,109.04,1.7896
2,9094,2023-05-28 13:07,16,196.0,184.0,279.0,79.468,21.023,37.375,21.070,4,0,45.0,1013.5,77.72,115,1210,109.04,2.2370
3,9094,2023-05-28 13:08,16,198.0,185.0,280.0,78.837,20.803,37.198,20.836,5,0,44.0,1013.5,77.90,161,1210,108.32,2.9081
4,9094,2023-05-28 13:09,16,194.0,184.0,280.0,78.829,20.697,37.190,20.942,6,0,44.0,1013.5,77.72,132,1210,108.32,2.2370
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
333,9558,2024-07-07 15:18,4,NaN,262.0,300.0,90.556,29.274,36.196,25.086,48,0,71.0,992.5,60.08,238,1240,76.82,2.4607
334,9558,2024-07-07 15:19,4,313.0,259.0,302.0,90.515,29.176,36.639,24.700,49,0,71.0,992.5,60.26,232,1240,77.36,2.6844
335,9558,2024-07-07 15:21,4,299.0,262.0,300.0,90.544,29.399,36.445,24.700,50,0,69.0,992.4,60.44,222,1240,77.36,4.0266
336,9558,2024-07-07 15:22,4,296.0,261.0,301.0,90.769,29.324,36.576,24.869,51,0,69.0,992.5,60.44,219,1240,77.72,3.8029
337,9558,2024-07-07 15:24,4,298.0,262.0,304.0,90.913,29.626,36.650,24.637,52,0,68.0,992.4,60.62,258,1240,77.54,2.6844

In [19]:
weather = weather.groupby(['session_key']).agg({'air_temperature':'mean', 'humidity':'mean', 'pressure':'mean','rainfall':'max','track_temperature':'mean','wind_direction':'mean','wind_speed':'mean'})

In [20]:
session_weather = sessions.merge(weather, on = ['session_key'], how = 'inner')
session_weather[['air_temperature','humidity','pressure','rainfall','track_temperature','wind_direction','wind_speed']].describe()

,air_temperature,humidity,pressure,rainfall,track_temperature,wind_direction,wind_speed
count,46.000000,46.000000,46.000000,46.000000,46.000000,46.000000,46.000000
mean,74.866790,53.195855,987.168605,0.217391,96.338899,178.730569,3.927411
std,8.454344,13.749664,52.041414,0.417029,14.897434,52.519738,1.879423
min,60.387347,21.496894,779.520526,0.000000,63.902797,89.796178,1.528385
25%,66.607847,44.804451,989.333005,0.000000,87.163480,136.242712,2.566478
50%,76.093783,51.745849,1007.924388,0.000000,97.581006,173.887910,3.518781
75%,81.312637,62.892346,1014.535588,0.000000,107.992271,215.396454,4.648545
max,91.582707,85.258706,1020.601389,1.000000,120.760301,314.129630,10.220020

In [21]:
rain_race = session_weather[session_weather.rainfall != 0]
rain_race

,session_key,location,session_name,year,air_temperature,humidity,pressure,rainfall,track_temperature,wind_direction,wind_speed
5,9094,Monaco,Race,2023,77.118636,45.863636,1013.359659,1,102.660227,143.011364,2.249710
8,9118,Spielberg,Race,2023,72.316471,52.045752,934.015686,1,89.697647,124.562092,2.454852
11,9141,Spa-Francorchamps,Race,2023,64.172000,61.926667,966.627333,1,82.833200,130.046667,3.567269
12,9149,Zandvoort,Race,2023,62.225359,70.775120,1007.824402,1,76.894067,173.239234,6.311765
19,9205,SÃ£o Paulo,Race,2023,68.828197,58.174863,927.900546,1,116.196721,184.158470,2.928881
30,9531,MontrÃ©al,Race,2024,64.035221,73.380531,996.197345,1,76.225841,158.150442,2.617092
31,9539,Barcelona,Race,2024,75.438442,63.441558,1001.356494,1,105.972987,207.370130,4.749994
32,9550,Spielberg,Race,2024,84.966573,35.006993,932.862937,1,115.557762,235.510490,3.730941
33,9558,Silverstone,Race,2024,60.387347,67.333333,992.126531,1,81.806122,221.224490,3.016146
42,9636,SÃ£o Paulo,Race,2024,70.992836,85.258706,926.456716,1,78.385373,188.955224,1.646031

In [22]:
hot_race = session_weather.sort_values('air_temperature', ascending = False).reset_index(drop=True).head(10)
hot_race

,session_key,location,session_name,year,air_temperature,humidity,pressure,rainfall,track_temperature,wind_direction,wind_speed
0,9590,Monza,Race,2024,91.582707,32.285714,993.228571,0,120.760301,200.624060,3.397549
1,9221,Lusail,Race,2023,88.633208,73.157233,1009.774843,0,98.477736,203.584906,1.990789
2,9606,Marina Bay,Race,2024,87.415250,74.650000,1008.024375,0,97.602125,192.493750,2.136335
3,9213,Austin,Race,2023,85.928214,41.910714,993.730952,0,105.131429,107.892857,7.414057
4,9165,Marina Bay,Race,2023,85.719773,72.028409,1008.978409,0,97.559886,169.284091,3.167389
5,9550,Spielberg,Race,2024,84.966573,35.006993,932.862937,1,115.557762,235.510490,3.730941
6,9157,Monza,Race,2023,84.794231,42.320513,1000.561538,0,109.270769,179.269231,2.549606
7,9566,Budapest,Race,2024,83.882968,46.922581,981.676774,0,112.849032,221.187097,2.795528
8,9133,Budapest,Race,2023,83.855366,32.804878,988.401829,0,119.442683,174.536585,3.223190
9,9507,Miami,Race,2024,83.339600,59.006667,1016.462667,0,112.395200,152.640000,6.891451

In [23]:
cold_race = session_weather.sort_values('air_temperature', ascending = True).reset_index(drop=True).head(10)
cold_race

,session_key,location,session_name,year,air_temperature,humidity,pressure,rainfall,track_temperature,wind_direction,wind_speed
0,9558,Silverstone,Race,2024,60.387347,67.333333,992.126531,1,81.806122,221.224490,3.016146
1,9149,Zandvoort,Race,2023,62.225359,70.775120,1007.824402,1,76.894067,173.239234,6.311765
2,7787,Melbourne,Race,2023,63.409189,54.157658,1018.366667,0,86.251351,138.072072,2.521159
3,9531,MontrÃ©al,Race,2024,64.035221,73.380531,996.197345,1,76.225841,158.150442,2.617092
4,9644,Las Vegas,Race,2024,64.085315,47.860140,935.892308,0,63.902797,235.293706,6.484171
5,9141,Spa-Francorchamps,Race,2023,64.172000,61.926667,966.627333,1,82.833200,130.046667,3.567269
6,9189,Las Vegas,Race,2023,64.490000,47.361111,939.781481,0,64.390000,220.333333,5.147171
7,9472,Sakhir,Race,2024,64.809299,48.821656,1017.185987,0,74.575159,89.796178,1.758254
8,9110,MontrÃ©al,Race,2023,65.354444,63.901235,1011.552469,0,87.067778,314.129630,4.344199
9,9673,Shanghai,Race,2024,65.550909,66.060606,1011.452121,0,85.626909,147.551515,3.758160

In [24]:
windy_race = session_weather.sort_values('wind_speed', ascending = False).reset_index(drop=True).head(10)
windy_race

,session_key,location,session_name,year,air_temperature,humidity,pressure,rainfall,track_temperature,wind_direction,wind_speed
0,9582,Zandvoort,Race,2024,66.210588,60.960784,1019.981046,0,87.450588,218.071895,10.220020
1,9078,Miami,Race,2023,80.811355,59.425806,1018.378710,0,98.040258,135.541935,8.881612
2,9213,Austin,Race,2023,85.928214,41.910714,993.730952,0,105.131429,107.892857,7.414057
3,9507,Miami,Race,2024,83.339600,59.006667,1016.462667,0,112.395200,152.640000,6.891451
4,9126,Silverstone,Race,2023,70.652318,56.185430,1001.225828,0,87.693907,205.397351,6.764332
5,9644,Las Vegas,Race,2024,64.085315,47.860140,935.892308,0,63.902797,235.293706,6.484171
6,9149,Zandvoort,Race,2023,62.225359,70.775120,1007.824402,1,76.894067,173.239234,6.311765
7,9189,Las Vegas,Race,2023,64.490000,47.361111,939.781481,0,64.390000,220.333333,5.147171
8,9496,Suzuka,Race,2024,71.044088,43.430939,1012.372376,0,99.501989,185.668508,5.012857
9,9625,Mexico City,Race,2024,67.799623,51.050314,785.252830,0,96.084528,291.352201,4.811660

In [25]:
avg_race = session_weather.iloc[(session_weather['air_temperature']-74.869).abs().argsort()[:15]]

In [26]:
avg_race = avg_race[avg_race.rainfall == 0]
avg_race

,session_key,location,session_name,year,air_temperature,humidity,pressure,rainfall,track_temperature,wind_direction,wind_speed
3,9070,Baku,Race,2023,76.749125,49.225000,1008.646250,0,106.178000,125.687500,2.422951
6,9102,Barcelona,Race,2023,72.813247,63.077922,1001.090909,0,92.910130,132.642857,4.182028
28,9515,Imola,Race,2024,77.205175,48.426573,1006.634266,0,107.642797,135.979021,4.789996
23,9480,Jeddah,Race,2024,77.950548,62.335616,1012.682877,0,88.867671,129.143836,2.914229
18,9181,Mexico City,Race,2023,77.985263,23.552632,779.520526,0,114.151053,247.684211,3.333130
25,9496,Suzuka,Race,2024,71.044088,43.430939,1012.372376,0,99.501989,185.668508,5.012857
29,9523,Monaco,Race,2024,70.873700,63.990000,1018.743500,0,115.372400,160.895000,2.191142
1,7779,Jeddah,Race,2023,78.965405,57.790541,1010.929730,0,89.226622,271.162162,3.964629
9,9126,Silverstone,Race,2023,70.652318,56.185430,1001.225828,0,87.693907,205.397351,6.764332
35,9574,Spa-Francorchamps,Race,2024,70.391241,49.583942,978.096350,0,108.080876,140.985401,3.765345
38,9598,Baku,Race,2024,80.070658,38.019737,1017.640132,0,111.828816,123.552632,3.470293

In [27]:
weather.to_csv('../data/weather.csv')

In [28]:
sessions.to_csv('../data/sessions.csv')

In [29]:
rain_race.to_csv('../data/rain_race.csv')

In [30]:
hot_race.to_csv('../data/hot_race.csv')

In [31]:
cold_race.to_csv('../data/cold_race.csv')

In [32]:
windy_race.to_csv('../data/windy_race.csv')

In [33]:
avg_race.to_csv('../data/avg_race.csv')

In [34]:
drivers.to_csv('../data/drivers.csv')

In [35]:
tt_comb.to_csv('../data/clean/tt_comb.csv')

In [36]:
all_laps.to_csv('../data/clean/all_laps.csv')

In [37]:
all_laps

,session_key,date_start,driver_number,i1_speed,i2_speed,st_speed,lap_duration,duration_sector_1,duration_sector_2,duration_sector_3,...,session_name,year,rainfall,humidity,pressure,air_temperature,wind_direction,meeting_key,track_temperature,wind_speed
0,7953,2023-03-05 15:05,4,231.0,238.0,291.0,100.433,31.867,43.830,24.736,...,Race,2023,0,22.0,1016.7,81.14,208,1141,87.98,0.0000
1,7953,2023-03-05 15:07,4,232.0,255.0,300.0,99.777,31.627,43.448,24.702,...,Race,2023,0,22.0,1016.7,81.14,170,1141,88.16,1.3422
2,7953,2023-03-05 15:08,4,227.0,224.0,286.0,102.267,32.947,44.387,24.933,...,Race,2023,0,22.0,1016.7,81.14,204,1141,88.16,0.8948
3,7953,2023-03-05 15:10,4,225.0,248.0,315.0,100.664,32.022,43.875,24.767,...,Race,2023,0,22.0,1016.7,80.96,206,1141,87.80,2.2370
4,7953,2023-03-05 15:12,4,227.0,243.0,297.0,100.814,31.980,44.010,24.824,...,Race,2023,0,22.0,1016.9,80.78,175,1141,87.80,1.3422
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7421,9662,2024-12-08 14:23,16,292.0,299.0,310.0,88.470,17.789,38.122,32.559,...,Race,2024,0,60.0,1017.8,78.62,116,1252,84.92,6.4873
7422,9662,2024-12-08 14:24,16,291.0,304.0,314.0,88.387,17.828,38.129,32.430,...,Race,2024,0,60.0,1017.8,78.62,109,1252,84.74,4.4740
7423,9662,2024-12-08 14:26,16,292.0,304.0,315.0,88.220,17.800,37.988,32.432,...,Race,2024,0,60.0,1018.0,78.62,106,1252,84.92,5.3688
7424,9662,2024-12-08 14:27,16,293.0,303.0,315.0,88.296,17.723,38.093,32.480,...,Race,2024,0,60.0,1018.0,78.62,110,1252,84.92,4.6977
7425,9662,2024-12-08 14:29,16,291.0,301.0,313.0,89.918,18.055,38.575,33.288,...,Race,2024,0,60.0,1018.0,78.62,111,1252,84.74,4.2503