In [1]:
import requests
import matplotlib.pyplot as plt
import json
import pandas as pd

In [2]:
def url_to_df(url):
    endpoint = url
    response = requests.get(endpoint)
    response
    if response.status_code == 200:
        F1 = response.json()
        F1_df = pd.DataFrame(F1)
    else: print(response.status_code)
    return F1_df

In [3]:
def url_to_df_in_chunks(base_url, max_pages=None, params=None):
    all_data = []
    page = 1
    params = params or {}  # default to empty dict if None

    while True:
        params.update({'start': page})  # or 'offset'/'start', depending on API
        try:
            response = requests.get(base_url, params=params)
            response.raise_for_status()
            data = response.json()

            # Stop if empty (no more pages)
            if not data:
                break

            all_data.extend(data)  # Append this page’s data

            page += 1
            if max_pages and page > max_pages:
                break
        except requests.exceptions.RequestException as err:
            print(f"Request failed on page {page}: {err}")
            break
        except ValueError as json_err:
            print(f"JSON error on page {page}: {json_err}")
            break

    return pd.DataFrame(all_data)

In [16]:
monaco23 = url_to_df('https://api.openf1.org/v1/car_data?session_key=9094&driver_number=4')
monaco23

,driver_number,rpm,speed,n_gear,throttle,brake,drs,date,session_key,meeting_key
0,4,1666,0,0,104,104,1,2023-05-28T12:01:02.333000+00:00,9094,1210
1,4,1666,0,0,104,104,1,2023-05-28T12:01:02.533000+00:00,9094,1210
2,4,1666,0,0,104,104,1,2023-05-28T12:01:02.933000+00:00,9094,1210
3,4,1666,0,0,104,104,1,2023-05-28T12:01:03.333000+00:00,9094,1210
4,4,1666,0,0,104,104,1,2023-05-28T12:01:03.493000+00:00,9094,1210
...,...,...,...,...,...,...,...,...,...,...
39869,4,0,0,0,104,104,0,2023-05-28T14:57:09.324000+00:00,9094,1210
39870,4,0,0,0,104,104,0,2023-05-28T14:57:09.604000+00:00,9094,1210
39871,4,0,0,0,104,104,0,2023-05-28T14:57:09.764000+00:00,9094,1210
39872,4,0,0,0,104,104,0,2023-05-28T14:57:10.044000+00:00,9094,1210
39873,4,0,0,0,104,104,0,2023-05-28T14:57:10.205000+00:00,9094,1210

In [ ]:
monaco23 = monaco23[monaco23.brake != 0]
monaco23

In [18]:
monaco_loc = url_to_df('https://api.openf1.org/v1/location?session_key=9094&driver_number=4')
monaco_loc

,x,y,z,driver_number,date,session_key,meeting_key
0,0,0,0,4,2023-05-28T12:01:02.234000+00:00,9094,1210
1,0,0,0,4,2023-05-28T12:01:02.514000+00:00,9094,1210
2,0,0,0,4,2023-05-28T12:01:02.875000+00:00,9094,1210
3,0,0,0,4,2023-05-28T12:01:03.195000+00:00,9094,1210
4,0,0,0,4,2023-05-28T12:01:03.375000+00:00,9094,1210
...,...,...,...,...,...,...,...
40827,-6739,-8965,512,4,2023-05-28T14:57:08.973000+00:00,9094,1210
40828,-6739,-8965,512,4,2023-05-28T14:57:09.433000+00:00,9094,1210
40829,-6739,-8965,512,4,2023-05-28T14:57:09.613000+00:00,9094,1210
40830,-6739,-8965,512,4,2023-05-28T14:57:09.833000+00:00,9094,1210
40831,-6739,-8965,512,4,2023-05-28T14:57:10.073000+00:00,9094,1210

In [20]:
monaco_loc.to_csv('..data/clean/mon_loc.csv')

OSError: Cannot save file into a non-existent directory: '..data\clean'