In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
rain_race = pd.read_csv('../data/rain_race.csv')
lando_laps = pd.read_csv('../data/lando_laps.csv')

In [3]:
rain_list = rain_race.session_key.to_list()

In [4]:
lando_rain = lando_laps[lando_laps.session_key.isin(rain_list)]

In [5]:
lando_rain = lando_rain[['session_key','driver_number','i1_speed','i2_speed','st_speed','lap_duration','duration_sector_1','duration_sector_2','duration_sector_3']]

In [6]:
lando_rain = lando_rain.reset_index(drop=True)
lando_rain

,session_key,driver_number,i1_speed,i2_speed,st_speed,lap_duration,duration_sector_1,duration_sector_2,duration_sector_3
0,9094,4,154.0,175.0,276.0,NaN,NaN,39.590,22.151
1,9094,4,175.0,171.0,277.0,81.610,21.769,38.014,21.827
2,9094,4,185.0,179.0,281.0,80.396,21.368,37.710,21.318
3,9094,4,186.0,181.0,280.0,80.209,21.263,37.700,21.246
4,9094,4,NaN,183.0,281.0,79.502,21.144,37.306,21.052
...,...,...,...,...,...,...,...,...,...
651,9636,4,304.0,229.0,270.0,81.640,20.904,42.936,17.800
652,9636,4,302.0,228.0,266.0,82.018,20.936,43.301,17.781
653,9636,4,303.0,234.0,267.0,81.517,20.906,42.809,17.802
654,9636,4,304.0,235.0,276.0,81.886,20.991,43.049,17.846
655,9636,4,305.0,231.0,287.0,81.819,20.755,43.262,17.802

In [7]:
lando_rain_avg = lando_rain.groupby(['session_key']).agg({'i1_speed':'mean','i2_speed':'mean','st_speed':'mean','lap_duration':'mean','duration_sector_1':'mean','duration_sector_2':'mean','duration_sector_3':'mean'})

In [8]:
lando_rain_avg = lando_rain_avg.reset_index()
lando_rain_avg

,session_key,i1_speed,i2_speed,st_speed,lap_duration,duration_sector_1,duration_sector_2,duration_sector_3
0,9094,178.128571,175.545455,275.584416,84.789566,22.157461,40.151571,22.468961
1,9118,300.466667,224.746479,297.126761,72.480386,18.510629,31.967338,22.146338
2,9141,307.289474,186.954545,302.485714,114.077605,33.502279,49.769409,30.840477
3,9149,269.078125,259.527778,279.109375,120.639662,64.688944,30.031875,25.963431
4,9205,298.950820,247.169014,287.863636,98.504143,41.165714,39.403845,18.502803
5,9531,212.203390,265.228571,283.671429,90.508464,25.849652,28.711857,36.030443
6,9539,261.396825,270.651515,310.065574,80.284508,24.023708,32.144727,24.114409
7,9550,300.442308,228.437500,297.062500,71.709254,18.091159,31.709219,21.893969
8,9558,295.934783,255.538462,301.634615,95.240373,31.022784,38.232865,25.980173
9,9636,280.553571,207.304348,243.208955,111.088221,43.711118,46.880797,20.448275

In [9]:
rain_race = rain_race[['location','session_key','year','air_temperature','humidity','pressure','rainfall','track_temperature','wind_speed']]
rain_race

,location,session_key,year,air_temperature,humidity,pressure,rainfall,track_temperature,wind_speed
0,Monaco,9094,2023,77.118636,45.863636,1013.359659,1,102.660227,2.249710
1,Spielberg,9118,2023,72.316471,52.045752,934.015686,1,89.697647,2.454852
2,Spa-Francorchamps,9141,2023,64.172000,61.926667,966.627333,1,82.833200,3.567269
3,Zandvoort,9149,2023,62.225359,70.775120,1007.824402,1,76.894067,6.311765
4,SÃ£o Paulo,9205,2023,68.828197,58.174863,927.900546,1,116.196721,2.928881
5,MontrÃ©al,9531,2024,62.810545,75.703030,996.332727,1,73.665091,2.687112
6,Barcelona,9539,2024,75.423567,63.433121,1001.353503,1,105.931847,4.740445
7,Spielberg,9550,2024,84.966573,35.006993,932.862937,1,115.557762,3.730941
8,Silverstone,9558,2024,60.387347,67.333333,992.126531,1,81.806122,3.016146
9,SÃ£o Paulo,9636,2024,70.992836,85.258706,926.456716,1,78.385373,1.646031

In [10]:
lando_rain_avg = lando_rain_avg.merge(rain_race, on = 'session_key', how = 'inner')

In [11]:
albon_laps = pd.read_csv('../data/albon_laps.csv')
albon_laps = albon_laps[albon_laps.session_key.isin(rain_list)]
albon_rain = albon_laps[['session_key','driver_number','i1_speed','i2_speed','st_speed','lap_duration','duration_sector_1','duration_sector_2','duration_sector_3']]
albon_rain = albon_rain.reset_index(drop=True)
albon_rain_avg = albon_rain.groupby(['session_key']).agg({'i1_speed':'mean','i2_speed':'mean','st_speed':'mean','lap_duration':'mean','duration_sector_1':'mean','duration_sector_2':'mean','duration_sector_3':'mean'})
albon_rain_avg = albon_rain_avg.reset_index()
albon_rain_avg = albon_rain_avg.merge(rain_race, on = 'session_key', how = 'inner')
albon_rain_avg

,session_key,i1_speed,i2_speed,st_speed,lap_duration,duration_sector_1,duration_sector_2,duration_sector_3,location,year,air_temperature,humidity,pressure,rainfall,track_temperature,wind_speed
0,9094,169.150685,171.649351,275.675325,85.744395,22.485368,40.567442,22.690818,Monaco,2023,77.118636,45.863636,1013.359659,1,102.660227,2.249710
1,9118,301.676923,223.338028,297.746479,73.004629,18.579229,32.208549,22.436056,Spielberg,2023,72.316471,52.045752,934.015686,1,89.697647,2.454852
2,9141,330.317073,184.863636,313.638889,114.564535,32.888977,51.135182,30.557341,Spa-Francorchamps,2023,64.172000,61.926667,966.627333,1,82.833200,3.567269
3,9149,263.545455,251.541667,276.550000,120.637887,64.050479,30.306194,26.334125,Zandvoort,2023,62.225359,70.775120,1007.824402,1,76.894067,6.311765
4,9205,NaN,NaN,229.000000,NaN,NaN,NaN,NaN,SÃ£o Paulo,2023,68.828197,58.174863,927.900546,1,116.196721,2.928881
5,9531,213.755102,268.711538,301.500000,91.632412,26.913904,28.958654,35.879365,MontrÃ©al,2024,62.810545,75.703030,996.332727,1,73.665091,2.687112
6,9539,262.783333,264.153846,303.557692,82.257125,24.673547,32.917615,24.681785,Barcelona,2024,75.423567,63.433121,1001.353503,1,105.931847,4.740445
7,9550,298.704918,223.814286,301.285714,72.364594,18.294725,32.272329,21.838571,Spielberg,2024,84.966573,35.006993,932.862937,1,115.557762,3.730941
8,9558,298.644444,253.211538,308.096154,96.350157,31.318941,38.725231,26.318096,Silverstone,2024,60.387347,67.333333,992.126531,1,81.806122,3.016146

In [12]:
leclerc_laps = pd.read_csv('../data/leclerc_laps.csv')
leclerc_laps = leclerc_laps[leclerc_laps.session_key.isin(rain_list)]
leclerc_rain = leclerc_laps[['session_key','driver_number','i1_speed','i2_speed','st_speed','lap_duration','duration_sector_1','duration_sector_2','duration_sector_3']]
leclerc_rain = leclerc_rain.reset_index(drop=True)
leclerc_rain_avg = leclerc_rain.groupby(['session_key']).agg({'i1_speed':'mean','i2_speed':'mean','st_speed':'mean','lap_duration':'mean','duration_sector_1':'mean','duration_sector_2':'mean','duration_sector_3':'mean'})
leclerc_rain_avg = leclerc_rain_avg.reset_index()
leclerc_rain_avg = leclerc_rain_avg.merge(rain_race, on = 'session_key', how = 'inner')
leclerc_rain_avg

,session_key,i1_speed,i2_speed,st_speed,lap_duration,duration_sector_1,duration_sector_2,duration_sector_3,location,year,air_temperature,humidity,pressure,rainfall,track_temperature,wind_speed
0,9094,181.861111,172.346154,273.038462,84.477429,22.011143,39.984833,22.460744,Monaco,2023,77.118636,45.863636,1013.359659,1,102.660227,2.249710
1,9118,293.222222,227.295775,294.112676,72.277514,18.702700,31.719887,21.925394,Spielberg,2023,72.316471,52.045752,934.015686,1,89.697647,2.454852
2,9141,305.358974,190.750000,302.800000,113.212209,33.126349,49.432295,30.648591,Spa-Francorchamps,2023,64.172000,61.926667,966.627333,1,82.833200,3.567269
3,9149,275.562500,260.121951,278.631579,86.963600,30.277525,30.624171,26.340805,Zandvoort,2023,62.225359,70.775120,1007.824402,1,76.894067,6.311765
4,9531,199.350000,256.097561,288.585366,95.612718,27.740300,30.022415,37.903125,MontrÃ©al,2024,62.810545,75.703030,996.332727,1,73.665091,2.687112
5,9539,270.366667,278.227273,311.148148,80.577123,24.041769,32.302030,24.242545,Barcelona,2024,75.423567,63.433121,1001.353503,1,105.931847,4.740445
6,9550,301.089552,224.521127,301.070423,72.110986,18.690686,31.872620,21.635676,Spielberg,2024,84.966573,35.006993,932.862937,1,115.557762,3.730941
7,9558,291.534884,250.411765,301.568627,97.757380,32.050140,39.218412,26.470412,Silverstone,2024,60.387347,67.333333,992.126531,1,81.806122,3.016146
8,9636,283.019608,214.550725,249.044776,111.024103,43.750765,46.809116,20.440522,SÃ£o Paulo,2024,70.992836,85.258706,926.456716,1,78.385373,1.646031

---

In [14]:
hot_race = pd.read_csv('../data/hot_race.csv')
hot_race = hot_race[['location','session_key','year','air_temperature','humidity','pressure','rainfall','track_temperature','wind_speed']]
hot_list = hot_race.session_key.to_list()
lando_hot = lando_laps[lando_laps.session_key.isin(hot_list)]
lando_hot = lando_hot[['session_key','driver_number','i1_speed','i2_speed','st_speed','lap_duration','duration_sector_1','duration_sector_2','duration_sector_3']]
lando_hot = lando_hot.reset_index(drop=True)
lando_hot_avg = lando_hot.groupby(['session_key']).agg({'i1_speed':'mean','i2_speed':'mean','st_speed':'mean','lap_duration':'mean','duration_sector_1':'mean','duration_sector_2':'mean','duration_sector_3':'mean'})
lando_hot_avg = lando_hot_avg.reset_index()
lando_hot_avg = lando_hot_avg.merge(hot_race, on = 'session_key', how = 'inner')
lando_hot_avg

,session_key,i1_speed,i2_speed,st_speed,lap_duration,duration_sector_1,duration_sector_2,duration_sector_3,location,year,air_temperature,humidity,pressure,rainfall,track_temperature,wind_speed
0,9133,280.629630,241.100000,289.540000,84.528464,30.854406,29.947000,23.746543,Budapest,2023,83.855366,32.804878,988.401829,0,119.442683,3.223190
1,9157,311.888889,317.509804,319.363636,87.501580,28.742760,30.133510,28.649725,Monza,2023,84.794231,42.320513,1000.561538,0,109.270769,2.549606
2,9165,279.771930,261.790323,282.036364,103.144508,30.204869,44.054726,28.882468,Marina Bay,2023,85.719773,72.028409,1008.978409,0,97.559886,3.167389
3,9213,211.600000,182.857143,295.250000,102.370545,28.062491,40.855750,33.441929,Austin,2023,85.928214,41.910714,993.730952,0,105.131429,7.414057
4,9221,225.274510,270.877193,293.511628,91.907857,34.509179,30.455421,27.331140,Lusail,2023,88.628228,73.177215,1009.776582,0,98.465570,1.986399
5,9507,205.755556,181.631579,306.298246,95.552804,32.446018,36.359158,26.730667,Miami,2024,83.339452,59.047945,1016.451370,0,112.272603,6.867284
6,9550,300.442308,228.437500,297.062500,71.709254,18.091159,31.709219,21.893969,Spielberg,2024,84.966573,35.006993,932.862937,1,115.557762,3.730941
7,9566,277.611111,241.157143,287.541667,83.981754,30.611203,29.696471,23.688571,Budapest,2024,83.882968,46.922581,981.676774,0,112.849032,2.795528
8,9590,315.111111,320.377358,325.588235,84.575173,28.171212,28.629057,27.836623,Monza,2024,91.582707,32.285714,993.228571,0,120.760301,3.397549
9,9606,283.810345,262.225806,280.479167,97.576180,29.098082,41.013226,27.477016,Marina Bay,2024,87.415250,74.650000,1008.024375,0,97.602125,2.136335

In [15]:
lando_laps

,Unnamed: 0,meeting_key,session_key,driver_number,i1_speed,i2_speed,st_speed,date_start,lap_duration,is_pit_out_lap,duration_sector_1,duration_sector_2,duration_sector_3,segments_sector_1,segments_sector_2,segments_sector_3,lap_number
0,219,1141,7953,4,229.0,236.0,263.0,NaN,NaN,False,NaN,44.789,24.561,"[2048, 2049, 2049, 2049, 2049, 2049, 2049, 204...","[2049, 2049, 2049, 2049, 2049, 2049, 2049, 204...","[2048, 2048, 2048, 2048, 2049, 2048, 2048]",1
1,220,1141,7953,4,231.0,238.0,291.0,2023-03-05T15:05:24.232000+00:00,100.433,False,31.867,43.830,24.736,"[2049, 2049, 2049, 2049, 2049, 2049, 2049, 204...","[2049, 2049, 2049, 2048, 2049, 2048, 2048, 204...","[2048, 2048, 2048, 2048, 2049, 2048, 2048]",2
2,221,1141,7953,4,232.0,255.0,300.0,2023-03-05T15:07:04.684000+00:00,99.777,False,31.627,43.448,24.702,"[2048, 2048, 2048, 2049, 2049, 2048, 2049, 204...","[2049, 2049, 2049, 2048, 2048, 2048, 2048, 204...","[2048, 2048, 2048, 2048, 2048, 2048, 0]",3
3,222,1141,7953,4,227.0,224.0,286.0,2023-03-05T15:08:44.479000+00:00,102.267,False,32.947,44.387,24.933,"[None, 2048, 2048, 2049, 2048, 2048, 2048, 204...","[2048, 2048, 2048, 2048, 2048, 2048, 2049, 204...","[2048, 2048, 2048, 2048, 2048, 2048, 2048]",4
4,223,1141,7953,4,225.0,248.0,315.0,2023-03-05T15:10:26.727000+00:00,100.664,False,32.022,43.875,24.767,"[2049, 2049, 2049, 2049, 2048, 2048, 2048, 204...","[2048, 2048, 2048, 2048, 2048, 2048, 2048, 204...","[2048, 2048, 2048, 2049, 2048, 2048, 2048]",5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2691,6432,1252,9662,4,NaN,306.0,312.0,2024-12-08T14:22:47.573000+00:00,88.124,False,17.591,37.872,32.661,"[None, 2048, 2048, 2049, 2049]","[2048, 2048, 2048, 2049, 2049, 2048, 2048, 204...","[2049, 2048, 2048, 2048, 2048, 2048, 2048, 204...",53
2692,6433,1252,9662,4,NaN,300.0,309.0,2024-12-08T14:24:15.611000+00:00,87.647,False,17.662,37.925,32.060,"[None, 2048, 2048, 2049, 2048]","[2048, 2048, 2048, 2048, 2048, 2048, 2048, 204...","[2049, 2048, 2049, 2048, 2048, 2048, 2048, 204...",54
2693,6434,1252,9662,4,NaN,301.0,312.0,2024-12-08T14:25:43.344000+00:00,87.698,False,17.599,37.985,32.114,"[None, 2049, 2048, 2048, 2048]","[2048, 2048, 2048, 2048, 2048, 2048, 2048, 204...","[2048, 2048, 2048, 2048, 2048, 2048, 2048, 204...",55
2694,6435,1252,9662,4,NaN,302.0,313.0,2024-12-08T14:27:10.989000+00:00,87.929,False,17.586,37.999,32.344,"[None, 2049, 2048, 2048, 2049]","[2048, 2048, 2048, 2048, 2048, 2048, 2048, 204...","[2048, 2048, 2048, 2048, 2048, 2048, 2048, 204...",56
2695,6436,1252,9662,4,295.0,305.0,305.0,2024-12-08T14:28:38.920000+00:00,89.858,False,17.513,39.702,32.643,"[2049, 2049, 2048, 2049, 2049]","[2049, 2048, 2048, 2048, 2048, 2048, 2048, 204...","[0, 0, 0, 0, 0, 0, 0, 0, 0]",57

In [16]:
albon_laps = albon_laps[['session_key','driver_number','i1_speed','i2_speed','st_speed','lap_duration','duration_sector_1','duration_sector_2','duration_sector_3']]
# reduces df to only necessary columns
albon_avg = albon_laps.groupby(['session_key','driver_number']).agg({'i1_speed':'mean','i2_speed':'mean','st_speed':'mean','lap_duration':'mean','duration_sector_1':'mean','duration_sector_2':'mean','duration_sector_3':'mean'})
# avgerages out all the lap data by each race
albon_avg = albon_avg.reset_index()
albon_avg

,session_key,driver_number,i1_speed,i2_speed,st_speed,lap_duration,duration_sector_1,duration_sector_2,duration_sector_3
0,9094,23,169.150685,171.649351,275.675325,85.744395,22.485368,40.567442,22.690818
1,9118,23,301.676923,223.338028,297.746479,73.004629,18.579229,32.208549,22.436056
2,9141,23,330.317073,184.863636,313.638889,114.564535,32.888977,51.135182,30.557341
3,9149,23,263.545455,251.541667,276.550000,120.637887,64.050479,30.306194,26.334125
4,9205,23,NaN,NaN,229.000000,NaN,NaN,NaN,NaN
5,9531,23,213.755102,268.711538,301.500000,91.632412,26.913904,28.958654,35.879365
6,9539,23,262.783333,264.153846,303.557692,82.257125,24.673547,32.917615,24.681785
7,9550,23,298.704918,223.814286,301.285714,72.364594,18.294725,32.272329,21.838571
8,9558,23,298.644444,253.211538,308.096154,96.350157,31.318941,38.725231,26.318096

In [17]:
leclerc_laps = pd.read_csv('../data/leclerc_laps.csv') # reads in Leclerc's lap stats
leclerc_laps = leclerc_laps[['session_key','driver_number','i1_speed','i2_speed','st_speed','lap_duration','duration_sector_1','duration_sector_2','duration_sector_3']]
# reduces df to only necessary columns
leclerc_avg = leclerc_laps.groupby(['session_key','driver_number']).agg({'i1_speed':'mean','i2_speed':'mean','st_speed':'mean','lap_duration':'mean','duration_sector_1':'mean','duration_sector_2':'mean','duration_sector_3':'mean'})
# avgerages out all the lap data by each race
leclerc_avg = leclerc_avg.reset_index()
leclerc_avg

,session_key,driver_number,i1_speed,i2_speed,st_speed,lap_duration,duration_sector_1,duration_sector_2,duration_sector_3
0,7779,16,276.366667,293.660000,301.820000,98.260204,36.172878,30.845160,31.239080
1,7787,16,NaN,NaN,243.000000,NaN,NaN,NaN,NaN
2,7953,16,227.964286,243.425000,297.647059,99.628632,32.424487,42.945825,24.206821
3,9070,16,203.695652,209.392157,311.294118,109.470880,38.889820,44.192627,26.362961
4,9078,16,213.733333,185.614035,316.491228,93.050482,31.995232,35.161667,25.916491
5,9094,16,181.861111,172.346154,273.038462,84.477429,22.011143,39.984833,22.460744
6,9102,16,271.317460,279.287879,314.203704,80.870292,24.329754,32.166621,24.403909
7,9110,16,243.821429,269.757143,303.142857,80.701449,22.330435,25.903357,32.468143
8,9118,16,293.222222,227.295775,294.112676,72.277514,18.702700,31.719887,21.925394
9,9126,16,283.833333,246.403846,294.326923,98.771118,32.350490,39.300846,27.088615
10,9133,16,278.114754,237.542857,292.127660,84.965551,30.932348,30.150371,23.911514
11,9141,16,305.358974,190.750000,302.800000,113.212209,33.126349,49.432295,30.648591
12,9149,16,275.562500,260.121951,278.631579,86.963600,30.277525,30.624171,26.340805
13,9157,16,315.162791,322.862745,326.760870,86.875300,28.529820,29.873588,28.475529
14,9165,16,282.547170,254.790323,272.770833,103.509033,30.497656,44.065645,28.935935
15,9173,16,268.577778,288.452830,287.169811,103.376077,38.073654,45.472434,20.272491
16,9181,16,281.071429,275.478873,318.206897,104.095829,48.202357,33.319662,22.562056
17,9189,16,172.613636,202.680000,289.520000,107.000245,30.416980,35.503080,41.007060
18,9197,16,285.102041,299.396552,305.155172,90.306982,18.855842,38.410172,33.056603
19,9213,16,209.760000,181.482143,300.785714,102.591673,27.818164,41.034000,33.740893
20,9221,16,226.823529,276.210526,291.301887,92.552518,34.838161,30.435105,27.619895
21,9472,16,234.883721,258.052632,299.320000,97.252500,31.594268,41.813930,23.835982
22,9480,16,279.400000,291.000000,302.800000,97.249612,35.636204,30.664180,30.907000
23,9488,16,273.714286,303.137931,289.509804,83.134895,28.882860,18.227741,36.033534
24,9496,16,274.955556,293.905660,291.641509,129.529712,66.969038,43.983566,19.576509
25,9507,16,205.040000,181.087719,308.192982,95.787482,32.854107,36.211579,26.695088
26,9515,16,214.500000,253.222222,287.587302,81.428839,25.992145,28.262349,27.177968
27,9523,16,198.866667,181.833333,275.128205,79.730182,20.630169,37.041859,22.179545
28,9531,16,199.350000,256.097561,288.585366,95.612718,27.740300,30.022415,37.903125
29,9539,16,270.366667,278.227273,311.148148,80.577123,24.041769,32.302030,24.242545
30,9550,16,301.089552,224.521127,301.070423,72.110986,18.690686,31.872620,21.635676
31,9558,16,291.534884,250.411765,301.568627,97.757380,32.050140,39.218412,26.470412
32,9566,16,281.232143,239.857143,291.688889,84.209522,30.520710,29.839514,23.881700
33,9574,16,315.050000,203.767442,311.500000,109.205143,31.936953,47.895000,29.373302
34,9582,16,286.800000,267.606061,306.545455,75.945508,25.953708,27.468909,22.545727
35,9590,16,315.666667,320.641509,324.477273,84.472077,27.862500,28.630547,28.012566
36,9598,16,197.893617,210.686275,316.431373,109.536220,39.529080,44.075353,25.945471
37,9606,16,300.403509,267.790323,288.272727,98.490344,29.131049,41.766548,27.643935
38,9617,16,215.416667,178.892857,298.642857,101.993673,27.479564,40.474679,34.000018
39,9625,16,286.030303,276.183099,316.690909,85.419443,30.790186,32.894127,22.065901
40,9636,16,283.019608,214.550725,249.044776,111.024103,43.750765,46.809116,20.440522
41,9644,16,177.853659,208.720000,313.620000,98.701429,28.836245,33.076140,36.789740
42,9655,16,226.846154,270.934783,277.475000,97.774348,36.149652,31.747000,30.297596
43,9662,16,287.780000,299.105263,311.000000,89.917607,18.370589,38.521456,33.057649
44,9673,16,253.302326,255.982143,296.642857,108.539800,28.909054,32.698232,47.077821

In [42]:
weather = pd.read_csv('../data/weather.csv')
weather

,Unnamed: 0,session_key,air_temperature,humidity,pressure,rainfall,track_temperature,wind_direction,wind_speed
0,0,7779,78.965405,57.790541,1010.929730,0,89.226622,271.162162,3.964629
1,1,7787,63.409189,54.157658,1018.366667,0,86.251351,138.072072,2.521159
2,2,7953,81.377019,21.496894,1016.863975,0,87.821242,177.130435,1.528385
3,3,9070,76.749125,49.225000,1008.646250,0,106.178000,125.687500,2.422951
4,4,9078,80.811355,59.425806,1018.378710,0,98.040258,135.541935,8.881612
5,5,9094,77.118636,45.863636,1013.359659,1,102.660227,143.011364,2.249710
6,6,9102,72.813247,63.077922,1001.090909,0,92.910130,132.642857,4.182028
7,7,9110,65.354444,63.901235,1011.552469,0,87.067778,314.129630,4.344199
8,8,9118,72.316471,52.045752,934.015686,1,89.697647,124.562092,2.454852
9,9,9126,70.652318,56.185430,1001.225828,0,87.693907,205.397351,6.764332
10,10,9133,83.855366,32.804878,988.401829,0,119.442683,174.536585,3.223190
11,11,9141,64.172000,61.926667,966.627333,1,82.833200,130.046667,3.567269
12,12,9149,62.225359,70.775120,1007.824402,1,76.894067,173.239234,6.311765
13,13,9157,84.794231,42.320513,1000.561538,0,109.270769,179.269231,2.549606
14,14,9165,85.719773,72.028409,1008.978409,0,97.559886,169.284091,3.167389
15,15,9173,81.119494,42.316456,1012.933544,0,107.726456,121.506329,4.093144
16,16,9181,77.985263,23.552632,779.520526,0,114.151053,247.684211,3.333130
17,17,9189,64.490000,47.361111,939.781481,0,64.390000,220.333333,5.147171
18,18,9197,80.533077,51.000000,1014.927564,0,92.229615,284.935897,4.015128
19,19,9205,68.828197,58.174863,927.900546,1,116.196721,184.158470,2.928881
20,20,9213,85.928214,41.910714,993.730952,0,105.131429,107.892857,7.414057
21,21,9221,88.628228,73.177215,1009.776582,0,98.465570,203.000000,1.986399
22,22,9472,64.809299,48.821656,1017.185987,0,74.575159,89.796178,1.758254
23,23,9480,77.950548,62.335616,1012.682877,0,88.867671,129.143836,2.914229
24,24,9488,69.120000,44.451389,1020.601389,0,101.123750,154.784722,2.132917
25,25,9496,71.044088,43.430939,1012.372376,0,99.501989,185.668508,5.012857
26,26,9507,83.339452,59.047945,1016.451370,0,112.272603,152.657534,6.867284
27,27,9515,77.205175,48.426573,1006.634266,0,107.642797,135.979021,4.789996
28,28,9523,70.873700,63.990000,1018.743500,0,115.372400,160.895000,2.191142
29,29,9531,62.810545,75.703030,996.332727,1,73.665091,165.387879,2.687112
30,30,9539,75.423567,63.433121,1001.353503,1,105.931847,208.127389,4.740445
31,31,9550,84.966573,35.006993,932.862937,1,115.557762,235.510490,3.730941
32,32,9558,60.387347,67.333333,992.126531,1,81.806122,221.224490,3.016146
33,33,9566,83.882968,46.922581,981.676774,0,112.849032,221.187097,2.795528
34,34,9574,70.389333,49.622222,978.096296,0,108.064000,138.081481,3.764788
35,35,9582,66.176575,61.047945,1019.978767,0,87.347534,218.260274,10.135449
36,36,9590,91.582707,32.285714,993.228571,0,120.760301,200.624060,3.397549
37,37,9598,80.070658,38.019737,1017.640132,0,111.828816,123.552632,3.470293
38,38,9606,87.415250,74.650000,1008.024375,0,97.602125,192.493750,2.136335
39,39,9617,82.618323,35.535484,1006.509032,0,115.883484,223.883871,3.355500
40,40,9625,67.799623,51.050314,785.252830,0,96.084528,291.352201,4.811660
41,41,9636,70.992836,85.258706,926.456716,1,78.385373,188.955224,1.646031
42,42,9644,65.450435,51.033816,961.326087,0,68.084348,204.434783,6.770437
43,43,9655,66.082206,57.375000,1015.491912,0,73.038676,103.176471,3.820993
44,44,9662,80.185753,51.431507,1017.425342,0,89.263425,137.363014,4.267154
45,45,9673,65.550909,66.060606,1011.452121,0,85.626909,147.551515,3.758160